<a href="https://colab.research.google.com/github/niya-shroff/HCI-VIS-Lab-Research-Project/blob/main/02_Author_Matching.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Match authors between Vispubdata and HCI-VIS datasets

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/Gender in Visualization Project/HCI-VIS Data'

In [ ]:
vispubAuthors = pd.read_csv(f'{path}/For Colab/AuthorPublication-uptoVIS2020.csv')

In [ ]:
vispubAuthors

,Conference,Year,DOI,Author,AuthorOrder,AuthorOrderRank,CareerAge,CumPaper
0,Vis,1990,10.1109/VISUAL.1990.146359,james helman,1,First,2,1
1,Vis,1990,10.1109/VISUAL.1990.146359,lambertus hesselink,2,Last,2,1
2,Vis,1990,10.1109/VISUAL.1990.146360,gordon v. bancroft,1,First,3,1
3,Vis,1990,10.1109/VISUAL.1990.146360,fergus merritt,2,Middle,2,1
4,Vis,1990,10.1109/VISUAL.1990.146360,todd plessel,3,Middle,2,1
...,...,...,...,...,...,...,...,...
11569,InfoVis,2020,10.1109/TVCG.2020.3030396,huamin qu,6,Last,22,55
11570,InfoVis,2020,10.1109/TVCG.2020.3030399,sven gedicke,1,First,1,1
11571,InfoVis,2020,10.1109/TVCG.2020.3030399,annika bonerath,2,Middle,2,1
11572,InfoVis,2020,10.1109/TVCG.2020.3030399,benjamin niedermann,3,Middle,8,1
11573,InfoVis,2020,10.1109/TVCG.2020.3030399,jan-henrik haunert,4,Last,15,4

In [ ]:
biblioAuthors = pd.read_csv(f'{path}/For Colab/BiblioVIS - final.csv')

In [ ]:
biblioAuthors[biblioAuthors['Author'] == 'petra isenberg']

,Author ID,Paper ID,Author,Affiliation,Affiliation Type
4462,37591317800,4376145,petra isenberg,"University of Calgary, Canada",Academic Institution
5301,37591317800,5290700,petra isenberg,"University of Calgary, Canada",Academic Institution
5461,37591317800,5290713,petra isenberg,"University of Calgary, Canada",Academic Institution
5958,37591317800,5613504,petra isenberg,"INRIA, France",Private Corporation
6246,37591317800,5652880,petra isenberg,"Microsoft Research Limited, USA",Private Corporation
6339,37591317800,6065014,petra isenberg,"INRIA, France",Private Corporation
6985,37591317800,6327275,petra isenberg,"INRIA, France",Private Corporation
7032,37591317800,6327229,petra isenberg,"INRIA, France",Private Corporation
7129,37591317800,6327257,petra isenberg,"INRIA, France",Private Corporation
7173,37591317800,6327281,petra isenberg,"INRIA, Paris, France",Private Corporation
7500,37591317800,6634108,petra isenberg,"INRIA, France",Private Corporation
7646,37591317800,6634173,petra isenberg,"INRIA, France",Private Corporation
8079,37591317800,6875973,petra isenberg,Inria,Private Corporation
8096,37591317800,6875917,petra isenberg,Inria,Private Corporation
8746,37591317800,7192726,petra isenberg,"Inria, France",Private Corporation
9562,37591317800,7539364,petra isenberg,"Inria, France",Private Corporation
10276,37591317800,8017596,petra isenberg,Inria,Private Corporation
10776,37591317800,8805428,petra isenberg,Inria,Private Corporation
11526,37591317800,9229072,petra isenberg,Inria,Private Corporation