<a href="https://colab.research.google.com/github/niya-shroff/HCI-VIS-Lab-Research-Project/blob/main/HCI_VIS_Academic_Family_Project_Refined.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HCI-VIS Data/For Colab/AuthorPublication-uptoVIS2020.csv')
df

,Conference,Year,DOI,Author,AuthorOrder,AuthorOrderRank,CareerAge,CumPaper
0,Vis,1990,10.1109/VISUAL.1990.146359,james helman,1,First,2,1
1,Vis,1990,10.1109/VISUAL.1990.146359,lambertus hesselink,2,Last,2,1
2,Vis,1990,10.1109/VISUAL.1990.146360,gordon v. bancroft,1,First,3,1
3,Vis,1990,10.1109/VISUAL.1990.146360,fergus merritt,2,Middle,2,1
4,Vis,1990,10.1109/VISUAL.1990.146360,todd plessel,3,Middle,2,1
...,...,...,...,...,...,...,...,...
11569,InfoVis,2020,10.1109/TVCG.2020.3030396,huamin qu,6,Last,22,55
11570,InfoVis,2020,10.1109/TVCG.2020.3030399,sven gedicke,1,First,1,1
11571,InfoVis,2020,10.1109/TVCG.2020.3030399,annika bonerath,2,Middle,2,1
11572,InfoVis,2020,10.1109/TVCG.2020.3030399,benjamin niedermann,3,Middle,8,1
11573,InfoVis,2020,10.1109/TVCG.2020.3030399,jan-henrik haunert,4,Last,15,4

In [4]:
firstAuthors = df.loc[(df['AuthorOrderRank'] == "First") & (df['CareerAge'] <= 5), ["DOI", "Author"]]
firstAuthors = firstAuthors.rename(columns={"Author": "Supervisee"})
firstAuthors

                              DOI          Supervisee
0      10.1109/VISUAL.1990.146359        james helman
2      10.1109/VISUAL.1990.146360  gordon v. bancroft
8      10.1109/VISUAL.1990.146361  william l. hibbard
10     10.1109/VISUAL.1990.146362    james l. montine
13     10.1109/VISUAL.1990.146364        yaser yacoob
...                           ...                 ...
11554   10.1109/TVCG.2020.3030335           alex kale
11557   10.1109/TVCG.2020.3030388         pepe eulzer
11561   10.1109/TVCG.2020.3030387   michael oppermann
11564   10.1109/TVCG.2020.3030396         xinhuan shu
11570   10.1109/TVCG.2020.3030399        sven gedicke

[1840 rows x 2 columns]

In [5]:
lastAuthors = df.loc[df["AuthorOrderRank"] == "Last", ["DOI", "Author"]]
lastAuthors = lastAuthors.rename(columns={"Author": "Supervisor"})
lastAuthors

                              DOI           Supervisor
1      10.1109/VISUAL.1990.146359  lambertus hesselink
7      10.1109/VISUAL.1990.146360            al globus
9      10.1109/VISUAL.1990.146361      david a. santek
12     10.1109/VISUAL.1990.146363         bernd hamann
15     10.1109/VISUAL.1990.146365     amit bandopadhay
...                           ...                  ...
11556   10.1109/TVCG.2020.3030335      jessica hullman
11560   10.1109/TVCG.2020.3030388           kai lawonn
11563   10.1109/TVCG.2020.3030387       tamara munzner
11569   10.1109/TVCG.2020.3030396            huamin qu
11573   10.1109/TVCG.2020.3030399   jan-henrik haunert

[2878 rows x 2 columns]

In [6]:
firstLastdf = firstAuthors.merge(lastAuthors, how="inner", on="DOI")
firstLastdf = firstLastdf.sort_values('Supervisor')
firstLastdf

                             DOI           Supervisee        Supervisor
198   10.1109/VISUAL.1995.485158     arthur e. mynett      a. j. s. hin
220   10.1109/VISUAL.1996.568104     robert g. hughes  a. robin forrest
174   10.1109/VISUAL.1995.480802       rosane minghim  a. robin forrest
519   10.1109/VISUAL.2001.964549         zhaohua ding  adam w. anderson
898      10.1109/TVCG.2007.70586   ezekiel s. bhasker    aditi majumder
...                          ...                  ...               ...
1187       10.1109/TVCG.2011.260  christopher koehler    zachary gaston
1375   10.1109/VAST.2014.7042489          jie li 0006     zhaopeng meng
288   10.1109/VISUAL.1997.663915             suya you   zhengrong liang
93    10.1109/VISUAL.1993.398852           roni yagel      zhouhong shi
1559   10.1109/TVCG.2018.2864477        marco cavallo  çagatay demiralp

[1745 rows x 3 columns]

In [7]:
firstLastdfGrouped = firstLastdf.groupby(['Supervisee', 'Supervisor']).agg({
    'DOI': 'count'
}).reset_index()
firstLastdfGrouped

                   Supervisee            Supervisor  DOI
0                a. j. fenlon    j. p. r. b. walton    1
1       a. johannes pretorius     jarke j. van wijk    1
2                a. mankofsky             d. kamins    1
3           aaditya g. landge      valerio pascucci    1
4                aaron barsky        robert kincaid    1
...                       ...                   ...  ...
1530              zoya maslak   robert j. mcdermott    1
1531              zoë j. wood       mathieu desbrun    1
1532              zuchao wang  huub van de wetering    1
1533              zuchao wang          qianliang wu    1
1534  ángel alexander cabrera       duen horng chau    1

[1535 rows x 3 columns]

In [8]:
firstLastdfGrouped.to_csv('VIS_supervision.csv', index=False)

In [9]:
vispubMain = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HCI-VIS Data/For Colab/IEEE VIS papers 1990-2021 - Main dataset.csv')
vispubMain = vispubMain.filter(['DOI','Title'], axis=1)
vispubMain

,DOI,Title
0,10.1109/TVCG.2011.185,D³ Data-Driven Documents
1,10.1109/VISUAL.1991.175815,Tree-maps: a space-filling approach to the vis...
2,10.1109/VISUAL.1990.146402,Parallel coordinates: a tool for visualizing m...
3,10.1109/VISUAL.1997.663860,ROAMing terrain: Real-time Optimally Adapting ...
4,10.1109/VISUAL.2003.1250384,Acceleration techniques for GPU-based volume r...
...,...,...
3498,10.1109/VISUAL.1990.146370,Techniques for visualizing Fermat's last theor...
3499,10.1109/VISUAL.1990.146372,A methodology for scientific data visualisatio...
3500,10.1109/VISUAL.1990.146376,Visualization and three-dimensional image proc...
3501,10.1109/VISUAL.1990.146414,Visualization for the information age
3502,10.1109/VISUAL.1990.146415,Case study in scientific visualization: factor...

In [10]:
titlePaperID = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HCI-VIS Data/For Colab/Paper.csv')
titlePaperID = titlePaperID.filter(['Paper_ID','Title'], axis=1)
titlePaperID

      Paper_ID                                              Title
0       146361  The VIS-5D system for easy interactive visuali...
1       146359  Surface representations of two- and three-dime...
2       146360  FAST: a multi-processed environment for visual...
3       146362        A procedural interface for volume rendering
4       146364  Displaying voxel-based objects according to th...
...        ...                                                ...
3296   9308628  Visual Analytics of Multivariate Event Sequenc...
3297   9222294   Visual Causality Analysis of Event Sequence Data
3298   9241732  Visual cohort comparison for spatial single-ce...
3299   9222060  Visual Neural Decomposition to Explain Multiva...
3300   9222280  VizCommender: Computing Text-Based Similarity ...

[3301 rows x 2 columns]

In [11]:
mergedDOIPaperID = vispubMain.merge(titlePaperID, how="inner", on="Title")
mergedDOIPaperID = mergedDOIPaperID.filter(['DOI', 'Paper_ID'], axis=1)
mergedDOIPaperID

                              DOI  Paper_ID
0           10.1109/TVCG.2011.185   6064996
1      10.1109/VISUAL.1991.175815    175815
2      10.1109/VISUAL.1990.146402    146402
3      10.1109/VISUAL.1997.663860    663860
4     10.1109/VISUAL.2003.1250384   1250384
...                           ...       ...
3074   10.1109/VISUAL.1990.146370    146370
3075   10.1109/VISUAL.1990.146372    146372
3076   10.1109/VISUAL.1990.146376    146376
3077   10.1109/VISUAL.1990.146414    146414
3078   10.1109/VISUAL.1990.146415    146415

[3079 rows x 2 columns]

In [12]:
vis2020 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HCI-VIS Data/For Colab/AuthorPublication-uptoVIS2020.csv')
vis2020merged = vis2020.merge(mergedDOIPaperID, how='inner', on='DOI')
vis2020merged = vis2020merged.drop('Conference', axis=1)
vis2020merged

,Year,DOI,Author,AuthorOrder,AuthorOrderRank,CareerAge,CumPaper,Paper_ID
0,1990,10.1109/VISUAL.1990.146359,james helman,1,First,2,1,146359
1,1990,10.1109/VISUAL.1990.146359,lambertus hesselink,2,Last,2,1,146359
2,1990,10.1109/VISUAL.1990.146360,gordon v. bancroft,1,First,3,1,146360
3,1990,10.1109/VISUAL.1990.146360,fergus merritt,2,Middle,2,1,146360
4,1990,10.1109/VISUAL.1990.146360,todd plessel,3,Middle,2,1,146360
...,...,...,...,...,...,...,...,...
10391,2020,10.1109/TVCG.2020.3030396,huamin qu,6,Last,22,55,9222309
10392,2020,10.1109/TVCG.2020.3030399,sven gedicke,1,First,1,1,9222088
10393,2020,10.1109/TVCG.2020.3030399,annika bonerath,2,Middle,2,1,9222088
10394,2020,10.1109/TVCG.2020.3030399,benjamin niedermann,3,Middle,8,1,9222088
10395,2020,10.1109/TVCG.2020.3030399,jan-henrik haunert,4,Last,15,4,9222088

In [13]:
biblioVIS = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HCI-VIS Data/For Colab/BiblioVIS - final.csv')
biblioVIS = biblioVIS.rename(columns={"Paper ID": "Paper_ID"})
biblioVIS

,Author ID,Paper_ID,Author,Affiliation,Affiliation Type
0,37270681400,146361,bill hibbard,"Space Science and Engineering Center, Universi...",Academic Institution
1,37378731100,146361,david santek,"Space Science and Engineering Center, Universi...",Academic Institution
2,38158227200,146359,james lowell helman,"Department of Applied Physics, University of S...",Academic Institution
3,37274095200,146359,lambertus hesselink,Departments of Aeronautics/Astronautics and El...,Academic Institution
4,37671091700,146360,gordon bancroft,"Sterling Federal Systems, Inc., Palo Alto, CA,...",Private Corporation
...,...,...,...,...,...
12150,37593029700,9222060,steffen koch,University of Stuttgart,Academic Institution
12151,37085368197,9222060,thomas ertl,University of Stuttgart,Academic Institution
12152,37088642005,9222280,michael oppermann,Tableau Research and the University of British...,Academic Institution
12153,37587984100,9222280,robert kincaid,Tableau Research (retired),Private Corporation
12154,37349490300,9222280,tamara munzner,University of British Columbia,Academic Institution

In [14]:
!pip install nameparser

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nameparser
  Downloading nameparser-1.1.2-py2.py3-none-any.whl (24 kB)
Installing collected packages: nameparser
Successfully installed nameparser-1.1.2

In [15]:
from nameparser import HumanName
biblioVIS['Author'] = biblioVIS['Author'].astype(str)
biblioVIS['Author Last Name'] = biblioVIS['Author'].apply(lambda x: HumanName(x).last)
biblioVIS

,Author ID,Paper_ID,Author,Affiliation,Affiliation Type,Author Last Name
0,37270681400,146361,bill hibbard,"Space Science and Engineering Center, Universi...",Academic Institution,hibbard
1,37378731100,146361,david santek,"Space Science and Engineering Center, Universi...",Academic Institution,santek
2,38158227200,146359,james lowell helman,"Department of Applied Physics, University of S...",Academic Institution,helman
3,37274095200,146359,lambertus hesselink,Departments of Aeronautics/Astronautics and El...,Academic Institution,hesselink
4,37671091700,146360,gordon bancroft,"Sterling Federal Systems, Inc., Palo Alto, CA,...",Private Corporation,bancroft
...,...,...,...,...,...,...
12150,37593029700,9222060,steffen koch,University of Stuttgart,Academic Institution,koch
12151,37085368197,9222060,thomas ertl,University of Stuttgart,Academic Institution,ertl
12152,37088642005,9222280,michael oppermann,Tableau Research and the University of British...,Academic Institution,oppermann
12153,37587984100,9222280,robert kincaid,Tableau Research (retired),Private Corporation,kincaid
12154,37349490300,9222280,tamara munzner,University of British Columbia,Academic Institution,munzner

In [16]:
import re
vis2020merged['Author'] = vis2020merged['Author'].astype(str)
vis2020merged["Author Last Name"] = vis2020merged['Author'].apply(lambda s: re.sub("^\d+\s|\s\d+\s|\s\d+$", " ", s))
vis2020merged["Author Last Name"] = vis2020merged['Author Last Name'].apply(lambda x: HumanName(x).last)
vis2020merged["Author Last Name"] = vis2020merged['Author Last Name'].str.strip()

vis2020merged

,Year,DOI,Author,AuthorOrder,AuthorOrderRank,CareerAge,CumPaper,Paper_ID,Author Last Name
0,1990,10.1109/VISUAL.1990.146359,james helman,1,First,2,1,146359,helman
1,1990,10.1109/VISUAL.1990.146359,lambertus hesselink,2,Last,2,1,146359,hesselink
2,1990,10.1109/VISUAL.1990.146360,gordon v. bancroft,1,First,3,1,146360,bancroft
3,1990,10.1109/VISUAL.1990.146360,fergus merritt,2,Middle,2,1,146360,merritt
4,1990,10.1109/VISUAL.1990.146360,todd plessel,3,Middle,2,1,146360,plessel
...,...,...,...,...,...,...,...,...,...
10391,2020,10.1109/TVCG.2020.3030396,huamin qu,6,Last,22,55,9222309,qu
10392,2020,10.1109/TVCG.2020.3030399,sven gedicke,1,First,1,1,9222088,gedicke
10393,2020,10.1109/TVCG.2020.3030399,annika bonerath,2,Middle,2,1,9222088,bonerath
10394,2020,10.1109/TVCG.2020.3030399,benjamin niedermann,3,Middle,8,1,9222088,niedermann
10395,2020,10.1109/TVCG.2020.3030399,jan-henrik haunert,4,Last,15,4,9222088,haunert

In [17]:
finalMergeRetry = biblioVIS.merge(vis2020merged, how="left", on=["Paper_ID", "Author Last Name"])
finalMergeRetry.sort_values("Paper_ID")

,Author ID,Paper_ID,Author_x,Affiliation,Affiliation Type,Author Last Name,Year,DOI,Author_y,AuthorOrder,AuthorOrderRank,CareerAge,CumPaper
2,38158227200,146359,james lowell helman,"Department of Applied Physics, University of S...",Academic Institution,helman,1990.0,10.1109/VISUAL.1990.146359,james helman,1.0,First,2.0,1.0
3,37274095200,146359,lambertus hesselink,Departments of Aeronautics/Astronautics and El...,Academic Institution,hesselink,1990.0,10.1109/VISUAL.1990.146359,lambertus hesselink,2.0,Last,2.0,1.0
4,37671091700,146360,gordon bancroft,"Sterling Federal Systems, Inc., Palo Alto, CA,...",Private Corporation,bancroft,1990.0,10.1109/VISUAL.1990.146360,gordon v. bancroft,1.0,First,3.0,1.0
5,37667865200,146360,fergus merritt,"Sterling Federal Systems, Inc., Palo Alto, CA,...",Private Corporation,merritt,1990.0,10.1109/VISUAL.1990.146360,fergus merritt,2.0,Middle,2.0,1.0
6,37671091300,146360,todd plessel,"Sterling Federal Systems, Inc., Palo Alto, CA,...",Private Corporation,plessel,1990.0,10.1109/VISUAL.1990.146360,todd plessel,3.0,Middle,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12171,37085447642,9308631,mengchen liu,Microsoft,Private Corporation,liu,2020.0,10.1109/VAST50239.2020.00007,mengchen liu,3.0,Middle,8.0,7.0
12172,37085447642,9308631,mengchen liu,Microsoft,Private Corporation,liu,2020.0,10.1109/VAST50239.2020.00007,shixia liu,7.0,Last,18.0,22.0
12173,37088646488,9308631,yafeng lu,Bloomberg L.P.,Private Corporation,lu,2020.0,10.1109/VAST50239.2020.00007,yafeng lu,4.0,Middle,7.0,5.0
12169,37088637276,9308631,weikai yang,"School of Software, BNRist, Tsinghua University",Academic Institution,yang,2020.0,10.1109/VAST50239.2020.00007,weikai yang,1.0,First,1.0,1.0
12174,37085845125,9308631,kelei cao,"School of Software, BNRist, Tsinghua University",Academic Institution,cao,2020.0,10.1109/VAST50239.2020.00007,kelei cao,5.0,Middle,6.0,3.0

In [18]:
finalMergeRetry[finalMergeRetry['Author_y'].isna()]
# use string matching for second screening (how similar are two last names) --> library for typos (if match is 0.95 then we are confident in the match)
# use DOI to match 
# when one paper have two "same last named people" (i.e. isenberg and isenberg) --> then check for duplicates

,Author ID,Paper_ID,Author_x,Affiliation,Affiliation Type,Author Last Name,Year,DOI,Author_y,AuthorOrder,AuthorOrderRank,CareerAge,CumPaper
16,38222557000,146365,sivaji bandyopadhyay,"Department of Computer Sciences, State Univers...",Academic Institution,bandyopadhyay,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,38225470800,146385,yonggang ke,"Department of Computational Science, Universit...",Academic Institution,ke,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,38222550000,146385,:e.s. panduranga,"Department of Computer Sciences, Johns Hopkins...",Academic Institution,panduranga,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,37382195100,146391,wolfgang krueger,"ART COM e.V., Berlin, Germany",Private Corporation,krueger,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,38222513300,146413,vincent j. argiro,Department of Physiological and Biological Sci...,Academic Institution,argiro,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12391,37088656562,9222116,daniel plakinger,Masaryk University,Academic Institution,plakinger,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12392,37085901852,9222116,sergej stoppel,University of Bergen and Rainfall AS Bergen,Academic Institution,stoppel,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12393,37085711031,9222116,barbora kozlikova,Masaryk University,Academic Institution,kozlikova,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12409,37086696433,9222553,dora kiese,Bauhaus-Universität Weimar,Academic Institution,kiese,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12413,37282977500,9222553,â€ªbernd froehlich,Bauhaus-Universität Weimar,Academic Institution,froehlich,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
finalMergeRetry.to_csv('finalMergeRetry.csv')

In [41]:
supervision = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/HCI-VIS Data/VIS_supervision.csv')
supervision

                   Supervisee            Supervisor  DOI
0                a. j. fenlon    j. p. r. b. walton    1
1       a. johannes pretorius     jarke j. van wijk    1
2                a. mankofsky             d. kamins    1
3           aaditya g. landge      valerio pascucci    1
4                aaron barsky        robert kincaid    1
...                       ...                   ...  ...
1530              zoya maslak   robert j. mcdermott    1
1531              zoë j. wood       mathieu desbrun    1
1532              zuchao wang  huub van de wetering    1
1533              zuchao wang          qianliang wu    1
1534  ángel alexander cabrera       duen horng chau    1

[1535 rows x 3 columns]

In [43]:
freqSupervisor = supervision['Supervisor'].value_counts()
freqSupervisor.to_csv('Supervisor Frequency.csv', header=True)

In [44]:
freqSupervisee = supervision['Supervisee'].value_counts()
freqSupervisee.to_csv('Supervisee Frequency.csv', header=True)

In [21]:
import networkx as nx
G = nx.DiGraph()

In [22]:
for i, row in supervision.iterrows():
    supervisor = row['Supervisor']
    supervisee = row['Supervisee']
    w = row['DOI']
    G.add_edge(supervisor, supervisee, weight = w)

In [23]:
nx.write_gexf(G, "supervision.gexf")